.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}


.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.input-field {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 10px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
}

.login-button, .register-button {
  margin-top: 20px;
  background: linear-gradient(90deg, #FFC107 0%, #FFEB3B 100%);
  color: white;
  border-radius: 10px;
}

.guest-session {
  text-align: center;
  margin-top: 20px;
}

.guest-link {
  color: #FFC107;
  cursor: pointer;
}

ion-segment-button {
  background: transparent;
  color: #ffffff;
}

ion-segment-button.checked {
  background: linear-gradient(90deg, #FFC107 0%, #FFEB3B 100%);
  color: white;
  border-radius: 10px;
}