.vehiculos-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
    gap: 1px;
  }

  .vehiculos-container::-webkit-scrollbar {
    display: none; /* Opcional: Oculta la barra de desplazamiento en navegadores WebKit */
  }
  
  .vehiculo-card {
    min-width: 250px; /* Establece el ancho mínimo de cada tarjeta */
    flex: 0 0 auto; /* Evita que las tarjetas se ajusten automáticamente */
    border: 1px solid #ccc;
    padding: 10px;
    
  }
  .button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
.profile-icon{
  /* borde blanco a la foto de perfil */
  border: 4px solid white;
  border-style: inset;
}
