@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  background: url('/ruta/al/logo-uct.png') no-repeat center center fixed;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 500px;
  height: 20vh; 
  position: relative; 
  bottom: 80px;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #f0f4f8;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button {
  width: 150px;
  padding: 12px;
  font-size: 18px;
  margin: 0 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #007bff, #ffc107);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-button.active {
  background-image: linear-gradient(to right, #ffc107, #007bff);
}

form {
  width: 400px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form input {
  width: 300px;
}

/* Asegúrate de que los enlaces tengan un buen espaciado debajo de los inputs */
form a {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  display: block; /* Para que ocupe toda la línea y se vea debajo */
  text-align: left; /* Cambia esto a 'center' si lo quieres centrado */
  font-size: 14px;
  color: #007bff;
}

form a:hover {
  text-decoration: underline;
}

.input {
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-image: linear-gradient(to right, #007bff, #ffc107);
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-image: linear-gradient(to right, #ffc107, #007bff);
}

a {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: -10px; /* Ajustar si es necesario el espacio entre la contraseña y el enlace */
  text-align: left; /* O 'center' si prefieres que esté centrado */
  display: block; /* Asegura que ocupe toda la fila */
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
