.invited-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.invited-card {
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
.invited-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.invited-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
.invited-input-field {
    --padding-start: 10px;
    --padding-end: 10px;
    
  }
  

  
.invited-button{
    margin-top: 20px;
    
    
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
.invited-guest-session {
    text-align: center;
    margin-top: 20px;
  }
  
.invited-guest-link {
    color: #FFC107;
    cursor: pointer;
  }
  
